.chat{
    display: flex;
    flex-direction: column;
    flex:0.65;
    width: 100%;
    height:95vh;
}
.chat_header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding:20px;
    border-bottom: 1px solid lightgray;
}
.chat_headerInfo{
    flex:1;
    padding-left:15px;
}
.chat_headerInfo>p{
    color:gray;
}
.chat_headerRight{
    padding-top: 5px;;
    /* display: flex; */
}

.chat_body{
    flex:1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-position: center;
    background-repeat: repeat;
    padding:30px;
    overflow: scroll;
}
.chat_message{
    position: relative;
    font-size:16px;
    width:fit-content;
    border-radius: 10px;
    background-color:#FFFFFF;
    margin-bottom: 10px;
    height:20px;
    padding:20px;
}
.chat_receiver{
    position: relative;
    font-size:16px;
    width:fit-content;
    border-radius: 10px;
    background-color:#dcf8c6;
    margin-bottom: 10px;
    margin-left: auto;
    height:20px;
    padding:20px;
}
.chat_name{
    position:absolute;
    top:5px;
    font-weight: 800;
    font-size:small;
}

.chat_timestamp{
    margin-left:10px;
    font-size: xx-small;
}

.chat__footer{
    display: flex;
    flex-direction:row;
    align-items: center;
    border-top:1px solid lightgray;
    padding:20px;
    height:3vh;
}
.chat__footer>.MuiSvgIcon-root{
    color:gray;
    padding:10px;
}
input{
    flex: 1;
    border:none;
    outline: none;
    padding:10px;
    border-radius: 10px;
    margin-left:5px;
}
.chat__input{
  display: flex;
  align-items: center;
  flex:1;
  border-radius: 10px;
  margin-left:10px;
} 
button{
    width: fit-content;
    border:none;
    margin-left:5px;
    padding:5px; 
}