.sidebar_chats{
    padding:20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar_chats:hover{
    background-color:#ebebeb;
}
.sidebar_chatInfo>h2{
    font-size: 12px;
}
.sidebar_chatInfo{
   margin-left: 10px;
}